### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [93]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [94]:
#Total Number of Schools
School_Names_df=school_data["school_name"].unique()
Total_Num_Schools= len(School_Names_df)
#Total Number of Students
Student_Name_df=student_data["Student ID"].unique()
Total_Num_Students= len(Student_Name_df)
#Total Budget
Total_Budget=school_data["budget"].sum()
#Average Math Score
Average_Math_Score=student_data["math_score"].mean()
#Average Reading Score
Average_Reading_Score=student_data["reading_score"].mean()
#Percentage of students with a passing math score(70 or greater)
Percentage_Math_Passing_Score= ((student_data["math_score"]>=70)/Total_Num_Students).sum()
#Percentage of students with a passing reading score(70 or greater)
Percentage_Reading_Passing_Score= ((student_data["reading_score"]>=70)/Total_Num_Students).sum()
#Percentage of Overall Passing
Percentage_Overall_Passing= (((student_data["math_score"]>=70)& (student_data["reading_score"]>=70))/Total_Num_Students).sum()
#Summary Results
Summary_Results= pd.DataFrame({"Total_Num_Schools":[Total_Num_Schools],
                              "Total_Num_Students":[Total_Num_Students],
                              "Total_Budget":[Total_Budget],
                              "Average_Math_Score":[Average_Math_Score],
                              "Average_Reading_Score":[Average_Reading_Score],
                              "Percentage_Math_Passing_Score":[Percentage_Math_Passing_Score],
                              "Percentage_Reading_Passing_Score":[Percentage_Reading_Passing_Score],
                               "Percentage_Overall_Passing":[Percentage_Overall_Passing]})
Summary_Results.style.format({"Total_Budget":"${:,.2f}",
                             "Average_Math_Score": "{:.1f}",
                             "Average_Reading_Score": "{:.1f}",
                             "Percentage_Math_Passing_Score": "{:.1%}",
                             "Percentage_Reading_Passing_Score": "{:.1%}",
                             "Percentage_Overall_Passing": "{:.1%}"})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [95]:
#group by School
Group_By_School=school_data_complete.set_index("school_name").groupby(["school_name"])
#SchoolType
School_Type =school_data.set_index("school_name")["type"]
#Total Students
Students_Per_School= Group_By_School["Student ID"].count()
#Total Budget
Total_Budget_Per_School=school_data.set_index("school_name")["budget"]
#Per Student Budget
Per_Student_Budget=Total_Budget_Per_School/Students_Per_School
#Average Math Score
Average_Math_Score_Per_School=Group_By_School["math_score"].mean()
#Average Reading Score
Average_Reading_Score_Per_School=Group_By_School["reading_score"].mean()
#% passing Math
Passing_Math_Per_School= school_data_complete[school_data_complete["math_score"]>=70].groupby("school_name")["Student ID"].count()/Students_Per_School
Passing_Reading_Per_School= school_data_complete[school_data_complete["reading_score"]>=70].groupby("school_name")["Student ID"].count()/Students_Per_School
Passing_OverAll_Per_School= school_data_complete[(school_data_complete["math_score"] >=70) & (school_data_complete["reading_score"]>=70)].groupby("school_name")["Student ID"].count()/Students_Per_School

#School Summary 

School_Summary= pd.DataFrame({"School_Type":School_Type,
                              "Students_Per_School":Students_Per_School,
                              "Total_Budget_Per_School":Total_Budget_Per_School,
                              "Average_Math_Score_Per_School":Average_Math_Score_Per_School,
                              "Average_Reading_Score_Per_School":Average_Reading_Score_Per_School,
                              "Passing_Math_Per_School":Passing_Math_Per_School,
                              "Passing_Reading_Per_School":Passing_Reading_Per_School,
                               "Passing_OverAll_Per_School":Passing_OverAll_Per_School})

School_Summary.style.format({"Total_Budget_Per_School":"${:,.0f}",
                             "Average_Math_Score_Per_School": "{:.1f}",
                             "Average_Reading_Score_Per_School": "{:.1f}",
                             "Passing_Math_Per_School": "{:.1%}",
                             "Passing_Reading_Per_School": "{:.1%}",
                             "Passing_OverAll_Per_School": "{:.1%}"})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [96]:
#Top Performing Schools
Top_Performing_School=School_Summary.sort_values(["Passing_OverAll_Per_School"],ascending=False)
Top_Performing_School=Top_Performing_School.head().style.format({"Total_Budget_Per_School":"${:,.0f}",
                             "Average_Math_Score_Per_School": "{:.1f}",
                             "Average_Reading_Score_Per_School": "{:.1f}",
                             "Passing_Math_Per_School": "{:.1%}",
                             "Passing_Reading_Per_School": "{:.1%}",
                             "Passing_OverAll_Per_School": "{:.1%}"})
Top_Performing_School

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [97]:
#Bottom Performing Schools
Bottom_Performing_School=School_Summary.sort_values(["Passing_OverAll_Per_School"],ascending=True)
Bottom_Performing_School=Bottom_Performing_School.head().style.format({"Total_Budget_Per_School":"${:,.0f}",
                             "Average_Math_Score_Per_School": "{:.1f}",
                             "Average_Reading_Score_Per_School": "{:.1f}",
                             "Passing_Math_Per_School": "{:.1%}",
                             "Passing_Reading_Per_School": "{:.1%}",
                             "Passing_OverAll_Per_School": "{:.1%}"})
Bottom_Performing_School

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [98]:
#Math Scores By Grade
Ninth_Grade=school_data_complete[school_data_complete["grade"]== "9th"].groupby("school_name")["math_score"].mean()
Tenth_Grade=school_data_complete[school_data_complete["grade"]== "10th"].groupby("school_name")["math_score"].mean()
Eleventh_Grade=school_data_complete[school_data_complete["grade"]== "11th"].groupby("school_name")["math_score"].mean()
Twelevth_Grade=school_data_complete[school_data_complete["grade"]== "12th"].groupby("school_name")["math_score"].mean()

Math_Score_Results= pd.DataFrame({"Ninth_Grade":Ninth_Grade,
                                  "Tenth_Grade":Tenth_Grade,
                                  "Eleventh_Grade":Eleventh_Grade,
                                  "Twelevth_Grade":Twelevth_Grade})
Math_Score_Results=Math_Score_Results.style.format({"Ninth_Grade":"{:.1f}",
                             "Tenth_Grade": "{:.1f}",
                             "Eleventh_Grade": "{:.1f}",
                             "Twelevth_Grade": "{:.1f}"})
Math_Score_Results

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [99]:
#Reading Scores By Grade
Ninth_Grade=school_data_complete[school_data_complete["grade"]== "9th"].groupby("school_name")["reading_score"].mean()
Tenth_Grade=school_data_complete[school_data_complete["grade"]== "10th"].groupby("school_name")["reading_score"].mean()
Eleventh_Grade=school_data_complete[school_data_complete["grade"]== "11th"].groupby("school_name")["reading_score"].mean()
Twelevth_Grade=school_data_complete[school_data_complete["grade"]== "12th"].groupby("school_name")["reading_score"].mean()

Math_Score_Results= pd.DataFrame({"Ninth_Grade":Ninth_Grade,
                                  "Tenth_Grade":Tenth_Grade,
                                  "Eleventh_Grade":Eleventh_Grade,
                                  "Twelevth_Grade":Twelevth_Grade})
Math_Score_Results=Math_Score_Results.style.format({"Ninth_Grade":"{:.1f}",
                             "Tenth_Grade": "{:.1f}",
                             "Eleventh_Grade": "{:.1f}",
                             "Twelevth_Grade": "{:.1f}"})
Math_Score_Results

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [100]:
#Scores By School Spending 
Bins_Range=[0,600,620,650,10000]
Binned_Group=["0-600","600-620","620-650","650-10000"]
school_data_complete["Average Spending Ranges"]=pd.cut(school_data_complete["budget"]/school_data_complete["size"],Bins_Range,labels=Binned_Group)

By_School_sepnding= school_data_complete.groupby("Average Spending Ranges")
Average_Math= By_School_sepnding["math_score"].mean()
Average_Reading= By_School_sepnding["reading_score"].mean()
Passing_Math= school_data_complete[school_data_complete["math_score"]>=70].groupby("Average Spending Ranges")["Student ID"].count()/By_School_sepnding["Student ID"].count()
Passing_Reading= school_data_complete[school_data_complete["reading_score"]>=70].groupby("Average Spending Ranges")["Student ID"].count()/By_School_sepnding["Student ID"].count()
Passing_OverAll= school_data_complete[(school_data_complete["math_score"] >=70) & (school_data_complete["reading_score"]>=70)].groupby("Average Spending Ranges")["Student ID"].count()/By_School_sepnding["Student ID"].count()

Scores_By_Spending= pd.DataFrame({"Average_Math":Average_Math,
                                  "Average_Reading":Average_Reading,
                                  "Passing_Math":Passing_Math,
                                  "Passing_Reading":Passing_Reading,
                                 "Passing_OverAll":Passing_OverAll})

Scores_By_Spending=Scores_By_Spending.style.format({"Average_Math":"{:.1f}",
                                  "Average_Reading":"{:.1f}",
                                  "Passing_Math":"{:.1%}",
                                  "Passing_Reading":"{:.1%}",
                                 "Passing_OverAll":"{:.1%}"})
Scores_By_Spending

## Scores by School Size

* Perform the same operations as above, based on school size.

In [101]:
Bins_Range=[0,1000,2000,10000]
Binned_Group=["0-1000","1000-2000","2000-10000"]
school_data_complete["Average Size Ranges"]=pd.cut(school_data_complete["size"],Bins_Range,labels=Binned_Group)

By_School_Size= school_data_complete.groupby("Average Size Ranges")
Average_Math= By_School_Size["math_score"].mean()
Average_Reading= By_School_Size["reading_score"].mean()
Passing_Math= school_data_complete[school_data_complete["math_score"]>=70].groupby("Average Size Ranges")["Student ID"].count()/By_School_Size["Student ID"].count()
Passing_Reading= school_data_complete[school_data_complete["reading_score"]>=70].groupby("Average Size Ranges")["Student ID"].count()/By_School_Size["Student ID"].count()
Passing_OverAll= school_data_complete[(school_data_complete["math_score"] >=70) & (school_data_complete["reading_score"]>=70)].groupby("Average Size Ranges")["Student ID"].count()/By_School_Size["Student ID"].count()

Scores_By_Size= pd.DataFrame({"Average_Math":Average_Math,
                                  "Average_Reading":Average_Reading,
                                  "Passing_Math":Passing_Math,
                                  "Passing_Reading":Passing_Reading,
                                 "Passing_OverAll":Passing_OverAll})

Scores_By_Size=Scores_By_Size.style.format({"Average_Math":"{:.1f}",
                                  "Average_Reading":"{:.1f}",
                                  "Passing_Math":"{:.1%}",
                                  "Passing_Reading":"{:.1%}",
                                 "Passing_OverAll":"{:.1%}"})
Scores_By_Size

## Scores by School Type

* Perform the same operations as above, based on school type

In [106]:
By_School_Type= school_data_complete.groupby("type")
Average_Math= By_School_Type["math_score"].mean()
Average_Reading= By_School_Type["reading_score"].mean()
Passing_Math= school_data_complete[school_data_complete["math_score"]>=70].groupby("type")["Student ID"].count()/By_School_Type["Student ID"].count()
Passing_Reading= school_data_complete[school_data_complete["reading_score"]>=70].groupby("type")["Student ID"].count()/By_School_Type["Student ID"].count()
Passing_OverAll= school_data_complete[(school_data_complete["math_score"] >=70) & (school_data_complete["reading_score"]>=70)].groupby("type")["Student ID"].count()/By_School_Type["Student ID"].count()

Scores_By_Type= pd.DataFrame({"Average_Math":Average_Math,
                                  "Average_Reading":Average_Reading,
                                  "Passing_Math":Passing_Math,
                                  "Passing_Reading":Passing_Reading,
                                 "Passing_OverAll":Passing_OverAll})

Scores_By_Type=Scores_By_Type.style.format({"Average_Math":"{:.1f}",
                                  "Average_Reading":"{:.1f}",
                                  "Passing_Math":"{:.1%}",
                                  "Passing_Reading":"{:.1%}",
                                 "Passing_OverAll":"{:.1%}"})
Scores_By_Type